
<style>
  body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.content {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.center {
  text-align: center;

  h3 {
    margin: 0;
    font-size: 1.8rem;
    color: #3b82f6;
  }
}

</style>

<main class="main">
  <div class="content">
    <div class="center">      
      <h3>Developer Evaluation Project - Sales Management.</h3>
    </div> 
  </div>
</main>
<router-outlet />
